@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
*{
	margin: 0;
	padding: 0;
}

	body{
    font-family: 'poppins',sans-serif;
    color: white;
    background: url(/assets/bg/bg-img.svg) center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .main{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
        background-color: var(--main-bg-color);
        background-size: cover ;
        height: 600px;
        width: 500px;
        margin: auto;
}