.main_label{
    margin-bottom: 20px;
}
.main_input{
    margin-top: 10px;
    background-color: transparent;
    border:transparent;
    border-bottom: solid 1px #fff;
    width: 280px;
    font-family: inherit;
    color: #fff;
    outline: 0;
}
.main_input:focus {
    background-color: transparent;
}
.main_input:active{
    background-color: transparent;
}

.div_label{
    margin: 50px;
}

