	
	.nav_tabs{
		position: relative;
	}

	.nav_tabs ul{
		list-style: none;
	}

	.nav_tabs ul li{
		float: left;
	}

	.tab_label{
		display: block;
		width: 100px;
		background-color: none;
		padding: 25px;
        font-weight: bolder;
        letter-spacing: 3px;
        font-size: 18px;
        line-height: 117%;
		color:#fff;
		cursor: pointer;
		text-align: center;
	}


	.nav_tabs .rd_tab { 
	display:none;
	position: absolute;
}

.nav_tabs .rd_tab:checked ~ label { 
	border-bottom: 3px solid var(--main-color);
	color:#fff;}

.tab-content{
	display: none;
	position: absolute;
	height: 320px;
	width: 600px;
	left: 0;
}

.rd_tab:checked ~ .tab-content{
	display: block;
}

.tab-content{
	padding-top: 150px;
	width: 500px;

}

.tab-content.register{
padding-top: 2px;
}